<h1>Snippet</h1>

Language: <%= @snippet.language %>

<h3><%= @snippet.title %></h3>

<hr>

<% if @snippet.is_markdown? %>
  <%= markdown(@snippet.work) %>
<% else %>
  <%= markdown(@snippet.wrap_in_pre_tags) %>
<% end %>

<hr>

<%= link_to "Edit", edit_snippet_path(@snippet) %>
